.editar-filme {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.editar-filme h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.has-error input {
    border: 2px solid red;
}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 15px;
}

form div.row.buttons{
    display: flex;
    justify-content: space-around;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
select,
textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 10px;
    outline: none;
}

input[type="text"]:focus,
select:focus,
textarea:focus {
    background-color: #727272;
}

textarea {
    resize: vertical;
}

button[type="submit"],
button[type="cancelar"] {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

