<div class="cinema">
  <h2>Selecione seu assento:</h2>

  <div class="screen">Tela</div> <!-- Tela na frente dos assentos -->
  <div class="seats">
    <button
      *ngFor="let assento of assentos"
      [class.ocupado]="assento.ocupado"
      (click)="selecionarAssento(assento)"
    >
      {{ assento.numero }}
    </button>
  </div>
  <div class="legenda">
    <div class="status disponível">Disponível</div>
    <div class="status ocupado">Ocupado</div>
  </div> 
</div>

<!-- Modal para formulário de reserva de assento no site -->
<div *ngIf="showModal" class="modal-overlay">
  <div class="modal-content">
    <span class="close-button" (click)="fecharModal()">×</span>
    <h3>Reservar Assento</h3>
    <form [formGroup]="assentoForm" (ngSubmit)="confirmarAssento()">
      <div>
        <label for="nome">Nome:</label>
        <input id="nome" formControlName="nome" />
        <div *ngIf="assentoForm.get('nome')?.invalid && assentoForm.get('nome')?.touched">
          Nome é obrigatório e deve ter pelo menos 3 caracteres.
        </div>
      </div>

      <div>
        <label for="cpf">CPF:</label>
        <input id="cpf" formControlName="cpf" placeholder="000.000.000-00" />
        <div *ngIf="assentoForm.get('cpf')?.invalid && assentoForm.get('cpf')?.touched">
          CPF é obrigatório e deve seguir o formato 000.000.000-00.
        </div>
      </div>

      <button type="submit" [disabled]="!assentoForm.valid">Reservar</button>
    </form>
  </div>
</div>

