<div class="form-group adicionar-filme">
    <h3 class="display-5 text-center text-black">Adicionar Novo Filme</h3>
     <form (ngSubmit)="adicionarFilme(titulo.value, salaId.value, duracao.value, posterURL.value, sinopse.value)">
        
        <div class="mb-3">
            <label>Título:</label>
            <input type="text" class="form-control" id="titulo" #titulo required />
        </div>

        <div class="mb-3">
            <label>Id da sala:</label>
            <select class="form-control" id="salaId" #salaId required>
              <option *ngFor="let sala of salas" [value]="sala.id">{{ sala.id }}</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Duração (minutos):</label>
            <input type="text" id="duracao" #duracao placeholder="Duração em minutos" required min="1" />
        </div>
        
        <div class="mb-3">
            <label>URL do Pôster:</label>
            <input type="text" class="form-control" id="posterURL" #posterURL required />
        </div>
        
        <div class="mb-3">
            <label>Sinopse:</label>
            <textarea class="form-control" id="sinopse" #sinopse rows="5" required placeholder="Digite a sinopse do filme aqui..."></textarea>
        </div>


        
        <button type="submit">Adicionar Filme</button>
    </form>
</div>
