div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

h2 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #585858;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

td button {
    margin-right: 5px;
    background-color: #727272;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
}

td button:hover {
    background-color:  #333;
}
