<div>
    <h2>Gerenciar Filmes</h2>
  
    <h3>Lista de Filmes</h3>
    <table>
      <tr  class="bg-dark bg-light">
        <th>Título</th>
        <th>Duração (min)</th>
        <th>Ações</th>
      </tr>
      <tr *ngFor="let filme of filmes">
        <td>{{ filme.titulo }}</td>
        <td>{{ filme.duracao }}</td>
        <td>
          <button (click)="editarFilme(filme)">Editar</button>
          <button (click)="excluirFilme(filme.id)">Excluir</button>
        </td>
      </tr>
    </table>
  </div>

 