body {  
    background-color:#b8b8b8;
    margin: 0;
    padding-top: 70px; /* Compensa a altura do header fixo */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #3C6E71;
    color: white;
    padding: 15px 20px;
    display: flex;
    align-items: center; /* Alinha logo e texto verticalmente */
    justify-content: center;
    z-index: 1000; /* Garante que o header fique acima do conteúdo */
    box-sizing: border-box; /* Inclui padding na largura total */
}

header img {
    width: 50px; /* Ajuste o tamanho da logo */
    height: auto;
    margin-right: 10px; /* Espaço entre a logo e o texto */
}

header p {
    font-size: 36px;
    margin: 0;
}
