<div class="sessao-container">
  <img class="poster-imagem" [src]="posterUrl" alt="Poster do Filme">

  <div class="informacoes-filme">
    <h3>{{titulo}}</h3>
    <p>{{sinopse}}</p>
  </div>
</div>

<div class="sessao-info">
  <div class="cinema-nome">
   CinePorto
  </div>

  <h3 class="text-center mb-4">Selecione o horário da sessão</h3>
  <div class="sessao-horarios" >
    <button *ngFor="let horario of sessoes" (click)="selecionarSessao(horario)">
      {{ horario }}
    </button>
  </div>
</div>